[Unit]
Description=Device message reveicer
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
User=lightbackend
Type=forking
ExecStart=/opt/light/backend/bin/device_message_receiver
ExecStop=/opt/light/backend/bin/device_message_receiver -t
Restart=always

[Install]
WantedBy=multi-user.target

