[Unit]
Description=Light backend service
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
User=lightbackend
Type=forking
ExecStart=/opt/light/backend/bin/light
ExecStop=/opt/light/backend/bin/light -t
Restart=always

[Install]
WantedBy=multi-user.target

